
<body>
      <div class="main-detail">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item"><a href="./recipes">Recipes</a></li>
              <li class="breadcrumb-item"><a href="./recipes/food">Foods</a></li>
              <li class="breadcrumb-item active" aria-current="page">Spicy Grilled Shrimp</li>
            </ol>
          </nav>

          <h1 class="title-dish">
            Spicy Grilled Shrimp
          </h1>
          <div class="info">
            <span class="up-date">Update:<span class="date">1/9/2020</span></span>
            <span class="saved">
              <i class="fa fa-bookmark" aria-hidden="true"></i>
              837
            </span>
            <span id="save-icon">
              <i id="save" class="fa fa-bookmark-o" aria-hidden="true"></i>
              <span id="save-status">Save this recipe!</span>
            </span>
          </div>
          <p class="description-dish">
            This is a simple but delicious way of marinating your chicken.
          </p>
        <div class="row stat">
            <div class="col-md-8">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
            </div>
            <div class="col-md-4">
                <ul class="info-stat">
                    <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy</li>
                    <li class="duration"> <span class="hours"> <i class="fa fa-clock-o" aria-hidden="true"></i> </span> <span class="mins">21 minutes</span> </li>
                    <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
                </ul>
            </div>
          </div>
        
        
          <div class="task-progress">
            <div class="btn btn-outline-info task" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="task-caption">1. Ingredients</span> </div>
            <div class="complete" id ="complete-ingre" style="visibility: hidden;">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre-all">
                    <label class="custom-control-label" for="ingre-all">All prepared</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre1">
                    <label class="custom-control-label" for="ingre1">1 large clove garlic</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre2">
                    <label class="custom-control-label" for="ingre2">1 teaspoon coarse salt</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre3">
                    <label class="custom-control-label" for="ingre3">1/2 teaspoon cayenne pepper</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre4">
                    <label class="custom-control-label" for="ingre4">1 teaspoon paprika</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre5">
                    <label class="custom-control-label" for="ingre5">2 tablespoons olive oil</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre6">
                    <label class="custom-control-label" for="ingre6">2 teaspoons lemon juice</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre7">
                    <label class="custom-control-label" for="ingre7">2 pounds large shrimp</label>
                  </div>

                  <div class="custom-control form-control-lg custom-checkbox info-task">
                    <input type="checkbox" class="custom-control-input ingre-box" id="ingre8">
                    <label class="custom-control-label" for="ingre8">8 wedges lemon, for garnish</label>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="task-progress">
            <div class="btn btn-outline-info task" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2"><span class="task-caption">2. Directions</span> </div>
            <div class="complete" id="complete-all-step" style="visibility: hidden;">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body step">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active task-progress" id="v-pills-step1-tab" data-toggle="pill" href="#v-pills-step1" role="tab" aria-controls="v-pills-step1" aria-selected="true">Step 1</a>
                    <a class="nav-link" id="v-pills-step2-tab" data-toggle="pill" href="#v-pills-step2" role="tab" aria-controls="v-pills-step2" aria-selected="false">Step 2</span> </a>
                    <a class="nav-link" id="v-pills-step3-tab" data-toggle="pill" href="#v-pills-step3" role="tab" aria-controls="v-pills-step3" aria-selected="false">Step 3</span></a>
                  </div>
                  <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active task" id="v-pills-step1" role="tabpanel" aria-labelledby="v-pills-step1-tab"> 
                      <p class="info-task"> Preheat grill for medium heat.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-step2" role="tabpanel" aria-labelledby="v-pills-step2-tab"><p class="info-task"> In a small bowl, crush the garlic with the salt. Mix in cayenne pepper and paprika, and then stir in olive oil and lemon juice to form a paste. In a large bowl, toss shrimp with garlic paste until evenly coated.</p></div>
                    <div class="tab-pane fade" id="v-pills-step3" role="tabpanel" aria-labelledby="v-pills-step3-tab">
                      <p class="info-task">Lightly oil grill grate. Cook shrimp for 2 to 3 minutes per side, or until opaque. Transfer to a serving dish, garnish with lemon wedges, and serve.</p>
                      <button type="button" class="btn btn-success" id="complete-step">Completed this dish</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


  </div>

  <div class="recipe-area">
    <h3>The similar recipes</h3>
    <div class="row">
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block more">View more</button>
  </div>
</body>