<body>
  <div class="main" style="min-height: 800px;">
    <h1>The Newest Recipes</h1>
        <div class="recipe-area">
          <div class="row recipe">
            {{#each latest}}
            {{> recipe_card this}}
            {{/each}}
          </div>
        </div>

    <h1>The Simple Recipes</h1>
        <div class="recipe-area">
          <div class="row recipe">
            {{#each simple}}
            {{> recipe_card this}}
            {{/each}}
          </div>
        </div>
    
    <h1>The Recipes for Family</h1>
        <div class="recipe-area">
          <div class="row recipe">
            {{#each family}}
            {{> recipe_card this}}
            {{/each}}
          </div>
        </div>

  </div>

</body>