<body>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Recipes</li>
    </ol>
  </nav>
  
  <h2 id="category-name">All recipes</h2>

  <ul class="category-list">
    
  </ul>

  <div class="recipe-area">
    <div class="row recipe">
        {{#each this.datas}}
        {{> recipe_card this}}
        {{/each}}
    </div>
    
  </div>
</body>