<body>
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Recipes</li>
    </ol>
  </nav>
  
  <h2 id="category-name">{{page_name}}</h2>

  <ul class="category-list">
    
  </ul>

  <div class="recipe-area">
    <div class="row recipe">
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
      <div class="col-md-3 recipe-section">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1153504.jpg&w=596&h=399&c=sc&poi=face&q=85" alt="">
        <h4 class="name-dish">Spicy Grilled Shrimp</h4>
        <p class="date">1/9/2020</p>
        <ul class="stat-recipe">
          <li class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i><span class="hour"></span> <span class="mins">21 mins</span></li>
          <li class="complex"> <i class="fa fa-bolt" aria-hidden="true"></i> Easy </li>
          <li class="serving"> <i class="fa fa-user" aria-hidden="true"></i> 4 people</li>
        </ul>
        <button type="button" class="btn btn-secondary btn-lg explore">Explore now</button>
      </div>
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block more">View more</button>
  </div>
</body>