@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    /* background: url('../images/logo-bg.jpg'); */
    background-color: #dbcbbd;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding: 30px 0px;
}

.jumbotron .row {
    width: 100%;
}

.col-md-5.logo {
    text-align: center;
}

.col-md-5.logo img {
    margin-top: 20px;
}

.col-md-5.logo h1 {
    text-shadow: 2px 1.5px 2px #ffad87;
    color: #290001;
    font-size: 46px;
    margin-top: 20px;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
    user-select: none;
}


.col-md-7.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-7.search .search-group {
    width: 60%;
}

.col-md-7.search input#search {
    width: 90%;
    padding: 10px 20px;
}

.col-md-7.search .input-group {
    width: 25%;
    color: #222831;
    
}

.col-md-7.search select#find-type.form-control {
    background-color: #f6f6f6;
    border: 1px solid #290001;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px 10px;
    height: fit-content;
    color: #290001;
    cursor: pointer;
}
.col-md-7.search button {
    font-weight: 600;
    background: #290001;
    color: whitesmoke;
    border: 1px solid #290001;
    letter-spacing: 2px;
}

@media screen and (max-width: 1080px) {
    .col-md-7.search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-md-7.search .input-group {
        width: 60%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col-md-7.search .search-group {
        width: 100%;
    }
    .col-md-7.search .search-group input#search {
        margin-top: 10px;
        width: 90%;
    }
}

@media screen and (max-width: 1080px) {
    .col-md-7.search .search-group i.fa-camera {
        top: 35% !important;
    }
}

.navbar-custom {
    background-color: #290001;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: whitesmoke;
    font-weight: 800;
}

/* change the color of active or hovered links */
.navbar-custom .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-custom .nav-item {
    width: fit-content;
    text-align: center;
    margin-right: 2vw;
    position: relative;
}

.navbar-custom .nav-item .nav-link {
    display: block;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.navbar-custom .nav-item:hover .nav-link {
    border-bottom: 2px solid whitesmoke;
    border-radius: 5px;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #87431d;
    right: 0;
}

.navbar-custom .dropdown-item {
    color: whitesmoke;
    font-size: 19px;
    text-shadow: 1px 1px 1px #191919;
    letter-spacing: 2px;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #290001;
    background-color: #e7d39f;
}

/*Align center*/
div#navbarCustom {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
   .navbar-custom .navbar-nav {

        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0;
    }
    .navbar-custom .nav-item {
        text-align: left;
        width: 100%;
    }
    .navbar-custom .nav-item.dropdown {
        width: 100%;
    }
}

footer {
    padding-top: 30px;
    background-color: #290001;
    color: #dbcbbd;
    font-family: sans-serif;
}

footer h4{
    height: 85px;
    line-height: 85px;
    font-size: 30px;
}

footer .container-fluid {
    width: 90%;
    padding: 20px 0px 0px;
}
footer a:hover{
    text-decoration: none;
}
footer a {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 10px 0px;
    text-decoration: none;
    color: #dbcbbd;
}
footer a:hover{
    color: #c87941;
}

footer .container-fluid > .row{
    border-bottom: 1px solid #dbcbbd;
    padding-bottom: 60px;
}
footer .container-fluid-2 *{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social-icons li a{
    background-color:#dedef0;
    color:#818a91;
    font-size:16px;
    
    width:44px;
    height:44px;
    
    margin-right:10px;
    border-radius:100%;
    transition:all .2s linear
}

footer .social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
}

footer .social-icons a.facebook:hover
{
    background-color:#3b5998
}
footer .social-icons a.instagram:hover
{
    background-color: #ffb4a2;
}
footer .social-icons a.twitter:hover
{
    background-color:#00aced
}
footer .social-icons a.linkedin:hover
{
    background-color:#007bb6
}

footer h4 {
    display: block;
    height: fit-content;
}

footer h4.brand {
    display: block;
    height: fit-content;
}


#input-img {
    position: absolute;
    float: left;
    z-index: 2;
    top: 10vw;
    left: 25vw;
    box-shadow: 5px 5px 6px black;    
}

.file-input {
    background: #87431d;
    width: 50vw;
}

.file-preview .fileinput-remove {
    display: none;
}

.krajee-default.file-preview-frame {
    background-color: wheat;
}

.krajee-default .file-footer-caption {
    color: #290001;
}

.file-drop-zone-title {
    color: whitesmoke;
}


button.kv-file-zoom.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary {
    display: none;
}

button.btn.btn-default.btn-secondary.fileinput-upload.fileinput-upload-button {
    background-color: green;
    border-color: #87431d;
}

button.btn.btn-default.btn-secondary.fileinput-remove.fileinput-remove-button {
    background-color: darkred;
    border-color: #87431d;
}

.btn.btn-primary.btn-file {
    background-color: moccasin;
    color: black;
    border-color: #87431d;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.breadcrumb {
    width: fit-content;
    margin-top: 2vw;
    background-color: #d18f5f;
    box-shadow: 3px 3px 10px grey;
}

.breadcrumb .breadcrumb-item, .breadcrumb .breadcrumb-item a {
    color: #290001;
    font-size: 20px;
    letter-spacing: 2px;
}

.breadcrumb .breadcrumb-item a {
    font-weight: 600;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #290001;
    content: ">";
}

.recipe-area h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 100px 40px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px grey;
}

.recipe-area .col-md-3.recipe-section {
    margin: 0px 4% 50px;
    border: 1px solid #290001;
    border-radius: 3%;
    height: 400px;
}

.recipe-area .col-md-3.recipe-section img {
    width: 100%;
    height: 50%;
}

.recipe-area .col-md-3.recipe-section h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto;
    text-align: center;
}

.recipe-area .col-md-3.recipe-section .date {
    text-align: center;
}

.recipe-area .col-md-3.recipe-section ul.stat-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-area .col-md-3.recipe-section ul.stat-recipe li {
    width: fit-content;
    margin: 2px 8px;
}

button.btn.btn-secondary.btn-lg.explore {
    margin: 10px auto;
    background-color: #c87941;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn.btn-secondary.btn-lg.explore:hover {
    background-color: #290001;
    color: whitesmoke;
}

button.btn.btn-secondary.btn-lg.btn-block.more {
    width: 40%;
    margin: 0px auto 30px;
    background: #edcfa9;
    color: black;
    font-weight: 600;
    font-size-adjust: 24px;
    letter-spacing: 2px;
    border: 1px solid #290001;
}

button.btn.btn-secondary.btn-lg.btn-block.more:hover {
    background-color: #aa4a30;
    color: whitesmoke;
}

.row.recipe {
    width: 100%;
    margin: 0;
}